@import url(global.css);
@import url(utility.css);
@import url(buttons.css);
@import url(social.css);
@import url(header.css);
@import url(hero.css);
@import url(sections.css);
@import url(about.css);
@import url(cards.css);
@import url(features.css) (width >= 80rem); /* Esse feature vai sรณ ser usado no desktop */
@import url(pricing.css);
@import url(download.css);
@import url(footer.css);